<div data-ng-controller="CartController">
		<!-- Fil d'ariane -->
		<ol class="breadcrumb">
		  <li><a href="#">Home</a></li>
		  <li><a href="#">His</a></li>
		  <li class="active">Cart</li>
		</ol>

		<!-- Corps de page -->
		<div class="row">

			CART

		</div> 

		<!-- Footer -->
		<nav class="navbar footer">
			<div class="row">
				<div class="collapse navbar-collapse">
					<div class="col-md-2 footer-content">
						<h3>ABOUT US</h3>

						<p>Lorem ipsum</p>
					</div>
					<div class="col-md-2 footer-content">
						<h3>GUARANTEE</h3>

						<ul>
							<li>Security</li>
							<li>Quality</li>
							<li>Support</li>
							<li>Value for money</li>
						</ul>
					</div>
					<div class="col-md-2 footer-content">
						<h3>GUARANTEE</h3>

						<ul>
							<li>Security</li>
							<li>Quality</li>
							<li>Support</li>
							<li>Value for money</li>
						</ul>
					</div>
					<div class="col-md-2 footer-content">
						<h3>GUARANTEE</h3>

						<ul>
							<li>Security</li>
							<li>Quality</li>
							<li>Support</li>
							<li>Value for money</li>
						</ul>
					</div>
					<div class="col-md-2 footer-content">
						<h3>GUARANTEE</h3>

						<ul>
							<li>Security</li>
							<li>Quality</li>
							<li>Support</li>
							<li>Value for money</li>
						</ul>
					</div>
					<div class="col-md-2 footer-content">
						<h3>GUARANTEE</h3>

						<ul>
							<li>Security</li>
							<li>Quality</li>
							<li>Support</li>
							<li>Value for money</li>
						</ul>
					</div>																				
				</div>
			</div>
			<div class="row col-md-12 payment-methods">
				<img src="img/2015---TP-WEB---IHM-export_49.png" alt="Test" />
				<img src="img/2015---TP-WEB---IHM-export_52.png" alt="Test" />
				<img src="img/2015---TP-WEB---IHM-export_52.png" alt="Test" />
				<img src="img/2015---TP-WEB---IHM-export_55.png" alt="Test" />
				<img src="img/2015---TP-WEB---IHM-export_46.png" alt="Test" />
			</div>
		</nav> <!-- fin Footer -->
</div>