<div data-ng-controller="CartController">
		<!-- Fil d'ariane -->
		<ol class="breadcrumb">
		  <li><a href="#">Home</a></li>
		  <li><a href="#">His</a></li>
		  <li class="active">Cart</li>
		</ol>

		<!-- Corps de page -->
		<div class="row">

			<table class="table table-hover">
				<tr>
					<th>Product Name</th>
					<th />
					<th />
					<th />
					<th>Unit Price</th>
					<th>Qty</th>
					<th>Subtotal</th>
					<th />
				</tr>
				<tr ng-repeat="item in cart" class="media media-middle">
				  	<td>
				  		<img data-ng-src="img/{{item.image}}" class="media-object" alt="{{item.name}}" />
				  	</td>
				    <td data-ng-bind="item.name"></td>
				    <td data-ng-bind="item.description"></td>
				    <td>
				    	<a href="#">Edit</a>
				    </td>
				    <td data-ng-bind="item.price | currency"></td>
				    <td>
				    	<input type="text" />
				    </td>			    
				    <td>
				    	<span>0</span>
				    </td>			    
				    <td>
				    	<a href="#"><li class="glyphicon glyphicon-remove" /></a>
				    </td>
				</tr>
			</table>

		</div> 

		<!-- Footer -->
		<nav class="navbar footer">
			<div class="row">
				<div class="collapse navbar-collapse">
					<div class="col-md-2 footer-content">
						<h3>ABOUT US</h3>

						<p>Lorem ipsum</p>
					</div>
					<div class="col-md-2 footer-content">
						<h3>GUARANTEE</h3>

						<ul>
							<li>Security</li>
							<li>Quality</li>
							<li>Support</li>
							<li>Value for money</li>
						</ul>
					</div>
					<div class="col-md-2 footer-content">
						<h3>GUARANTEE</h3>

						<ul>
							<li>Security</li>
							<li>Quality</li>
							<li>Support</li>
							<li>Value for money</li>
						</ul>
					</div>
					<div class="col-md-2 footer-content">
						<h3>GUARANTEE</h3>

						<ul>
							<li>Security</li>
							<li>Quality</li>
							<li>Support</li>
							<li>Value for money</li>
						</ul>
					</div>
					<div class="col-md-2 footer-content">
						<h3>GUARANTEE</h3>

						<ul>
							<li>Security</li>
							<li>Quality</li>
							<li>Support</li>
							<li>Value for money</li>
						</ul>
					</div>
					<div class="col-md-2 footer-content">
						<h3>GUARANTEE</h3>

						<ul>
							<li>Security</li>
							<li>Quality</li>
							<li>Support</li>
							<li>Value for money</li>
						</ul>
					</div>																				
				</div>
			</div>
			<div class="row col-md-12 payment-methods">
				<img src="img/2015---TP-WEB---IHM-export_49.png" alt="Test" />
				<img src="img/2015---TP-WEB---IHM-export_52.png" alt="Test" />
				<img src="img/2015---TP-WEB---IHM-export_52.png" alt="Test" />
				<img src="img/2015---TP-WEB---IHM-export_55.png" alt="Test" />
				<img src="img/2015---TP-WEB---IHM-export_46.png" alt="Test" />
			</div>
		</nav> <!-- fin Footer -->
</div>